#typing-headline{
    /* font-family: 'Pacifico'; */
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    font-size: 39px;
    color:#ffffff;
    line-height: 1.00em;
    padding: 2px;
}